---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";

const {
    title,
    description,
    subTitle,
    src,
    srcDesktop,
    alt,
    classContent = "main-content max-w-2xl mx-6 my-16 lg:mx-auto",
    classLayout,
} = Astro.props;
---

<Layout title={title} description={description}>
    <div class="relative">
        <div class="absolute w-full top-50 text-white z-[2] text-center">
            <h1 class="text-center">{title}</h1>
            {
                subTitle && (
                    <h2 class="font-sans text-sm sm:text-lg font-bold uppercase text-center">
                        {subTitle}
                    </h2>
                )
            }
        </div>

        <div
            class="relative z-[1] row-start-2 flex items-center -mx-6 px-6 text-xl leading-normal"
        >
            <slot name="chapo" />
        </div>

        <div class="relative" class:list={classLayout}>
            <Picture
                pictureAttributes={{
                    class: "duotone",
                }}
                ,
                class="w-full h-[90vh] object-cover"
                formats={["avif", "webp"]}
                src={src}
                alt={alt}
                widths={[540, 1024, src.width]}
                sizes={`(max-width: 540px) 540px, (max-width: 1024px) 1024px, ${src.width}px`}
            />
            <slot name="patterns" />
        </div>
        <div class={classContent}>
            <slot name="content" />
        </div>
    </div>
</Layout>
